.nav {
  left: 0;
  bottom: 0;
  top: 56px;
  background-color: white;
  z-index: 200;
  width: 72px;
  position: fixed;
  padding-top: 5px;
  display: flex;
}

.side-bar img {
  height: 24px;
  margin-bottom: 5px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 74px;
  display: flex;
  cursor: pointer;
  transition: background-color 0.15s;
}

.side-bar:hover {
  background-color: #eeeeee;
}
